/** @define Post */

:root {
  --alt-color-Post: #888;
}

.Post {}

.Post--headline {
  margin-bottom: 1.875rem;
}

.Post--snippet {
  margin-bottom: 1.5625rem;
}

.Post-title {
  margin-bottom: .625rem;
}

.Post-date {
  color: var(--alt-color-Post);
}

.Post-url {
  font-weight: bold;
  margin: .3125rem 0 .625rem;
  display: block;
}

.Post-intro {
  color: var(--alt-color-Post);
  margin: 0 0 .625rem;
  font-style: italic;
}

.Post-header {
  margin-bottom: 2.1875rem;
}

.Post-imgContainer {
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.Post-imgElem {
  border: 1px solid #555;
  display: inline-block;
}

.Post-imgLink {
  border: none !important;
}

.Post-content li {
  margin-bottom: .3125rem;
  line-height: 22px;
}

.Post-content a {
  border-bottom: 1px dotted;
}

.Post-featureImgWrap {
  float: left;
  margin-right: 1.125rem;
}

@media (min-width: 45.625em) {
  .Post--snippet {
    float: left;
    width: 45%;
  }

  .Post--snippet:nth-child(even) {
    margin-left: 10%;
  }

  .Post--snippet:nth-child(odd) {
    clear: left;
  }
}