{
  "plugins": ["stylelint-selector-bem-pattern"],
  "extends": "stylelint-config-suitcss",
  "rules": {
    "plugin/selector-bem-pattern": {
        "preset": "suit"
    },
    "rule-nested-empty-line-before": null,
    "selector-list-comma-newline-after": null,
    "declaration-block-properties-order": null,
    "at-rule-empty-line-before": null
  }
}
