---
layout: default
title: 'CV'
---

<div class="hresume">

    <h1 class="u-marginTn">{{ page.title }}</h1>

    <h2 class="u-isHiddenVisually">Profile</h2>
    <p class="u-leadText summary">I've been building websites professionally for over seven years and I make things happen with HTML5, CSS3, JavaScript and mobile first responsive design.</p>

    <h2 id="employment">Employment</h2>

    {% for job in site.data.jobs %}
    <div class="Job Job--listItem entry vcalendar" id="{{ job.id }}">
        <header class="Job-header">
            <h3 class="Job-title fn org">{{ job.title }} <small class="Job-role">{{ job.role }}</small></h3>
            <a class="Job-url company-url location" href="http://{{ job.url }}">{{ job.url }}</a>
            <dl class="Job-dates u-dlInline vevent">
                <dt class="u-isHiddenVisually">From</dt>
                <dd><time class="dtstart">{{ job.from }}</time></dd>
                <dt class="u-textLowercase">To</dt>
                <dd>
                    {% if job.to == false %}
                        Present
                    {% else %}
                        <time class="dtend">{{ job.to }}</time>
                    {% endif %}
                </dd>
            </dl>
        </header>
        <div class="Job-summary summary">
            {{ job.text | markdownify }}
        </div>
    </div>
    {% endfor %}

    <h2 id="skills">Skills</h2>
    <ul class="u-listUnstyled">
        {% for skill in site.data.skills %}
            <li class="Skill Skill--inline">{{ skill.name }}</li>
        {% endfor %}
    </ul>

    <h2 id="additional">Additional Information</h2>

    <p>Creating, owning and maintaining a hugely popular gaming community - <a href="http://www.interlopers.net">www.interlopers.net</a>. The site receives thousands of page visits per day and has an expanding community of nearly 10,000 members.</p>
    <p>Started in 2004, the site has grown considerably and I am responsible for all front-end code on the site. Working closely with a PHP developer has allowed various web applications
        to be built that have been received well by the user base.</p>
    <p>I have begun re-writing the entire site using the <a href="http://laravel.com">Laravel framework</a>. A preview of the responsive re-design can be viewed at <a href="http://stage.interlopers.net">stage.interlopers.net</a>.</p>
    <p>Acted as a reviewer for <a href="https://twitter.com/tbrd">Tom Hamshere</a>'s book on <a href="http://goo.gl/DznlPd">Twitter's Flight library</a>. This involved communicating with the book editors and suggesting edits and code changes.</p>

    <h2 id="interests">Interests</h2>

    <p>I play drums in <a href="http://fashodacrisis.com">a loud rock band</a>. We've completed three tours of Eastern Europe and released multiple CDs independently.</p>
    <p>I've also had the remarkable experience of <a href="http://www.flickr.com/photos/simonblink24/sets/72157625051285708/">visiting Chernobyl in September 2010</a> and returning radiation free! A bit different to <i>‘Badminton, socialising and reading blogs’</i> usually found here!</p>
</div>
