<article class="excerpt{{#has_image}} excerpt-work{{/has_image}}">
    <header class="excerpt-title post-title">
        <h1 class="hdr hdr-post excerpt-hdr"><a href="{{url}}" class="ajax">{{{title}}}</a></h1>
        {{#has_date}}
            <time class="post-date" datetime="{{w3c_date}}">{{date}}</time>
        {{/has_date}}
    </header>
    <div class="excerpt-content">
        <p>{{{excerpt}}}</p>
        {{#has_image}}
            <a href="{{url}}" class="ajax">{{{image}}}</a>
        {{/has_image}}
    </div>
</article>
