<article class="post post-excerpt">
    <h1 class="hdr hdr-excerpt"><a href="{{url}}" class="ajax" data-template="single.mustache">{{{title}}}</a></h1>
    <p>{{{excerpt}}}</p>
    <time datetime="{{w3c_date}}">{{date}}</time>
</article>
