<article class="work-item">
    <h1 class="hdr hdr-excerpt"><a href="{{url}}" class="ajax">{{{title}}}</a></h1>
    <p>{{{excerpt}}}</p>
    <a href="{{url}}" class="work-img work-img-mini">{{{image}}}</a>
</article>
