/** @define SiteFooter */

:root {
  --border-color-SiteFooter:        #dadada;
  --color-SiteFooter:               #999;
}

.SiteFooter {
  color: var(--color-SiteFooter);
  border-top: 1px solid var(--border-color-SiteFooter);
  font-size: .875rem;
  margin-bottom: 1.25rem;
}

.SiteFooter-copy {
  text-transform: lowercase;
}

/* Profile component layout
   ========================================================================== */

.SiteFooter-wrapProfile {
  margin: 1.25rem auto 2.1875rem;
}

@media (min-width: 50em) {

  .SiteFooter-wrapProfile {
    width: 70%;
  }

}