/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components. That is done in `theme-map.css`.
 */

/**
 * Colors
 */

:root {
  /* Primary colors */
  --color-blue: #6790ce;
  --color-light-blue: #a1bae1;
  --color-purple: #8d22bc;
  --color-light-purple: #691887;

  /* Primary grays */
  --color-border-gray: #dadada;
  --color-medium-gray: #888;
  --color-faint-gray: #f9f9f9;
  --color-charcoal: #444;
}