$border-style: 1px solid #ddd;

.layout-footer {
    margin-top: px(50);
}

.layout-content, .layout-aside {
    padding-left: px(10);
    padding-right: px(10);
}

.layout-aside {
    border-top: $border-style;
    margin-top: px(40);
}

.layout-spacing-bottom,
.layout-excerpt > *{
    margin-bottom: px(30);
}

.layout-excerpt-grid > * {
    min-height: px(160);
}

.layout-entries > .entry {
    margin: 0 0 px(36);
}

@media all and (min-width: $tablet) {

    .layout-content {
        float: right;
        width: 68%;
        border-left: $border-style;
        padding-left: px(20);
        padding-bottom: px(40);
    }

    .layout-col-left {
        float: left;
        width: 30%;
    }

    .layout-aside {
        margin-top: 0;
        border-top: 0;
    }

    .layout-header {
        position: relative;
        border-bottom: $border-style;
    }

    .layout-header .nav {
        position: absolute;
        top: px(27);
        right: px(10);
        width: px(280);
    }

    .layout-excerpt-grid {
        > * {
            float: left;
            width: 45%;

            &:nth-child(even) {
                margin-left: 5%;
            }

            &:nth-child(odd) {
                clear: left;
            }
        }
    }

}

@media all and (min-width: $desktop) {

    .layout-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media all and (min-width: $fixed) {

    .layout-container {
        width: 970px;
    }

}

