@import url(http://fonts.googleapis.com/css?family=Convergence);

@import
    "imports/vars",
    "base/normalize",
    "base/helpers",
    "base/print";

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    background-color: $off-white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $body-text;
}

h1, h2, h3, h4, .logo {
    font-family: 'Convergence', sans-serif;
}

.site-header {
    margin: px(10) 0 0;
}

// Logo
.logo {
    text-align: center;
    text-transform: lowercase;

    > p {
        margin: 0;
        display: inline-block;
    }
}

.logo-title {
    font-size: px(32);
    font-weight: bold;
}

.logo-subtitle {
    color: #777;
}

// Nav
.site-nav-list {
    list-style-type: none;
    text-transform: lowercase;
    text-align: center;
    padding: 0;
    margin-bottom: 0;

    > li {
        display: inline-block;
        margin-left: px(15);

        &:first-child {
            margin-left: 0;
        }
    }

    > .current {
        &:after {
            text-align: center;
            margin: px(10) auto 0;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-bottom: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }

    a {
        color: #555;
    }
}

.site-content {
    background-color: #fff;
    padding: px(10);
}

.site-footer {
    text-align: center;
    color: #777;
    text-transform: lowercase;
    font-size: px(14);
}
