.logo {
    text-decoration: none;
    text-align: center;
    font-size: px(18);
    color: inherit;
}

.logo-title {
    margin-top: px(10);
    margin-bottom: px(5);
    font-size: px(26);
}

.logo-description {
    margin-top: 0;
}

@media all and (min-width: $tablet) {

    .logo {
        text-align: left;
        display: inline-block;
        border: none;
        padding-left: px(10);

        &:hover {
            color: #ff5e99;
        }
    }

}
