.post-footer {
    margin-top: px(40);
    background-color: $off-white;
    @include border-radius(px(5));
    padding: px(10);

    > p {
        margin: 0;
    }
}

.post-title {
    margin-bottom: px(30);
}

.post-tags {
    margin-top: px(8);
    list-style-type: none;
    padding: 0;

    > dd {
        display: inline-block;
        margin-right: px(5);
        margin-left: 0;
    }
}

.post-content {
    code {
        font-family: Monaco, 'Courier New', Courier;
        padding: 1px 5px 1px 5px;
        font-size: px(14);
        background-color: $gray-lighter;
    }
    
    h2 {
        margin-top: px(20);
        margin-bottom: px(25);
    }
    
    a[href$="jpeg"],
    a[href$="jpg"],
    a[href$="png"] {
        border: none;
    }

    img[class*="wp-image"] {
        $margin: 30;
        border: 1px solid #ccc;
        display: block;
        padding: px(3);
        margin-top: px($margin);
        margin-bottom: px($margin);
    }
    
    blockquote {
        border-left: 8px solid $gray-lighter;
        padding-left: px(10);
        color: #888;
        margin-top: px(30);
        margin-bottom: px(30);
    }

    li {
        margin-bottom: px(5);
    }
}

.hdr-post {
    margin-bottom: px(12);
}

.post-date {
    color: $gray-light;
}

.aligncenter {
   	margin-left: auto;
   	margin-right: auto;
}

.wp-caption {
    max-width: 100% !important; // override wordpress
    
    img[class*="wp-image"] {
        margin-bottom: 0;
    }
}

.wp-caption-text {
    color: #888;
    width: 90%;
    @extend .aligncenter;
    margin-bottom: px(25);
    text-align: center;
}

@media all and (min-width: $tablet) {

    .post-title {
        position: relative;

        .url {
            position: absolute;
            top: px(7);
            right: 0;
            margin: 0;
        }
    }

}



