.excerpt-work {
    .excerpt-title {
        margin-bottom: px(15);
    }

    .excerpt-content {
        position: relative;

        p {
            margin-left: px(120);
        }

        .work-img-mini {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.description {
    font-style: italic;
    color: $gray-light;
}

.work-img-container {
    text-align: center;

    a {
        border: 0;
    }

    &:first-of-type {
        margin-bottom: px(15);
    }
}

@media all and (min-width: $large-phone) {

    .work-images {
        text-align: center;
        margin-top: px(30);
    }

    .work-img-container {
        display: inline;
        overflow: hidden;

        &:first-of-type {
            margin-right: px(10);
        }
    }

}
