/* ==========================================================================
   Link styles
   ========================================================================== */

.u-linkDark {
    color: #555;

    &:hover {
        color: #111;
    }
}

.u-linkUnderline {
    border-bottom: 1px dotted;
}
