/* ==========================================================================
   List styles
   ========================================================================== */

/* Remove default list styles */
.u-listUnstyled {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.u-dlUnstyled {
    dd {
        margin-left: 0;
    }
}

.u-dlInline {
    dt, dd {
        display: inline-block;
    }

    dd, dt {
        margin-left: 0;
        margin-right: px(3);
    }
}
