/* ==========================================================================
   Misc utils
   ========================================================================== */

.u-roundedFifty {
    border-radius: 50%;
}

.u-imgBdr {
    border: 1px solid #ddd;
    padding: px(2);
}
