
@font-face {
    font-family: 'Linux Libertine Bold';
    src: url('#{$fontPath}linlibertine_abs-webfont.eot');
    src: url('#{$fontPath}linlibertine_abs-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}linlibertine_abs-webfont.woff') format('woff'),
         url('#{$fontPath}linlibertine_abs-webfont.ttf') format('truetype'),
         url('#{$fontPath}linlibertine_abs-webfont.svg#linux_libertine_caBdsmallcaps') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('#{$fontPath}linlibertine_adrs-webfont.eot');
    src: url('#{$fontPath}linlibertine_adrs-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}linlibertine_adrs-webfont.woff') format('woff'),
         url('#{$fontPath}linlibertine_adrs-webfont.ttf') format('truetype'),
         url('#{$fontPath}linlibertine_adrs-webfont.svg#linux_libertine_dispsmallcaps') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Nobility';
    src: url('#{$fontPath}nobilty-webfont.eot');
    src: url('#{$fontPath}nobilty-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}nobilty-webfont.woff') format('woff'),
         url('#{$fontPath}nobilty-webfont.ttf') format('truetype'),
         url('#{$fontPath}nobilty-webfont.svg#nobility_casualregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
