
// Sizing
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include size($size, $size);
}

// Clearfix
@mixin cf {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Image replacement
@mixin ir {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

// Border Radius
@mixin border-radius($radius: 10px) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

// Single Corner Border Radius
@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
        -moz-border-radius-topleft: $radius;
            border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
        -moz-border-radius-topright: $radius;
            border-top-right-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
        -moz-border-radius-bottomright: $radius;
            border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
        -moz-border-radius-bottomleft: $radius;
            border-bottom-left-radius: $radius;
}

// Single Side Border Radius
@mixin border-top-radius($radius) {
    @include border-top-right-radius($radius);
    @include border-top-left-radius($radius);
}

@mixin border-right-radius($radius) {
    @include border-top-right-radius($radius);
    @include border-bottom-right-radius($radius);
}

@mixin border-bottom-radius($radius) {
    @include border-bottom-right-radius($radius);
    @include border-bottom-left-radius($radius);
}

@mixin border-left-radius($radius) {
    @include border-top-left-radius($radius);
    @include border-bottom-left-radius($radius);
}


// Drop shadows
@mixin box-shadow($x, $y, $offset, $hex) {
    -webkit-box-shadow: $x $y $offset $hex;
       -moz-box-shadow: $x $y $offset $hex;
            box-shadow: $x $y $offset $hex;
}

// Box Sizing
@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value;
}

// Transitions
@mixin transition($transition) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: $transition-delay;
       -moz-transition-delay: $transition-delay;
         -o-transition-delay: $transition-delay;
            transition-delay: $transition-delay;
}

// Transformations
@mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
       -moz-transform: rotate($degrees);
        -ms-transform: rotate($degrees);
         -o-transform: rotate($degrees);
            transform: rotate($degrees);
}

@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
     -moz-transform: scale($ratio);
      -ms-transform: scale($ratio);
       -o-transform: scale($ratio);
          transform: scale($ratio);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
     -moz-transform: translate($x, $y);
      -ms-transform: translate($x, $y);
       -o-transform: translate($x, $y);
          transform: translate($x, $y);
}

@mixin skew($x, $y) {
  -webkit-transform: skew($x, $y);
     -moz-transform: skew($x, $y);
      -ms-transform: skewX($x) skewY($y); // See https://github.com/twitter/bootstrap/issues/4885
       -o-transform: skew($x, $y);
          transform: skew($x, $y);
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
     -moz-transform: translate3d($x, $y, $z);
       -o-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
@mixin backface-visibility($visibility) {
	-webkit-backface-visibility: $visibility;
	   -moz-backface-visibility: $visibility;
	        backface-visibility: $visibility;
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
          background-clip: $clip;
}

// Background sizing
@mixin background-size($size){
  -webkit-background-size: $size;
     -moz-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}


// User select
// For selecting text on the page
@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select;
       -o-user-select: $select;
          user-select: $select;
}

// Resize anything
@mixin resizable($direction) {
    resize: $direction; // Options: horizontal, vertical, both
    overflow: auto; // Safari fix
}

// CSS3 Content Columns
@mixin content-columns($columnCount, $columnGap) {
  -webkit-column-count: $columnCount;
     -moz-column-count: $columnCount;
          column-count: $columnCount;
    -webkit-column-gap: $columnGap;
       -moz-column-gap: $columnGap;
            column-gap: $columnGap;
}

@mixin text-shadow($value) {
  -webkit-text-shadow: $value;
     -moz-text-shadow: $value;
          text-shadow: $value;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
     -moz-hyphens: $mode;
      -ms-hyphens: $mode;
       -o-hyphens: $mode;
          hyphens: $mode;
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity / 100;
    filter: alpha(opacity="#{$opacity}");
}

@mixin gradient-horizontal($startColor: #555, $endColor: #333, $startPos: 0, $endPos: 100) {
    $startPosPercent: ($startPos + 0%);
    $endPosPercent: ($endPos + 0%);
    background-color: $endColor;
    background-image: -moz-linear-gradient(left, $startColor $startPosPercent, $endColor $endPosPercent);
    background-image: -ms-linear-gradient(left, $startColor $startPosPercent, $endColor $endPosPercent);
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(($startPos / 100), $startColor), color-stop(($endPos / 100), $endColor));
    background-image: -webkit-linear-gradient(left, $startColor $startPosPercent, $endColor $endPosPercent);
    background-image: -o-linear-gradient(left, $startColor $startPosPercent, $endColor $endPosPercent);
    background-image: linear-gradient(to right, $startColor $startPosPercent, $endColor $endPosPercent);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=1);
}

@mixin gradient-vertical($startColor: #555, $endColor: #333, $startPos: 0, $endPos: 100) {
    $startPosPercent: ($startPos + 0%);
    $endPosPercent: ($endPos + 0%);
    background-color: mix($startColor, $endColor, 60%);
    background-image: -moz-linear-gradient(top, $startColor $startPosPercent, $endColor $endPosPercent); // FF 3.6+
    background-image: -ms-linear-gradient(top, $startColor $startPosPercent, $endColor $endPosPercent); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(($startPos / 100), $startColor), color-stop(($endPos / 100), $endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $startColor $startPosPercent, $endColor $endPosPercent); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $startColor $startPosPercent, $endColor $endPosPercent); // Opera 11.10
    background-image: linear-gradient(top, $startColor $startPosPercent, $endColor $endPosPercent); // The standard
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0);
}
