
$img-path:                '../images/';

// Fonts
$base-font-size:          16;
$unit-type:               0rem;

// Colors
$fullWidthBorder:      #dadada;

@function px($num) {
    @return ($num / $base-font-size) + $unit-type;
}
