
$img-path:                '../images/';

// Fonts
$base-font-size:          16;
$unit-type:               0rem;

// Colors
$body-text:              #333;
$link:                   #5071ce;
$gray:                   #666;
$gray-mid-light:         #777;
$gray-light:             #999;
$gray-lighter:           #eee;
$off-black:              #111;
$off-white:              #f7f7f7;

// Breakpoints
//$large-phone:            40em;
//$tablet:                 48em;
//$desktop:                61.875em;
//$fixed:                  1140px;

@function px($num) {
    @return ($num / $base-font-size) + $unit-type;
}
