$fontPath: '../fonts/';
$imgPath: '../images/';

// Fonts
$baseFontSize:          16;
$unitType:              0rem;

// Colors
$bodyText:              #444;
$link:                  #558cce;
$grayMid:               #666;
$grayLight:             #999;
$grayLighter:           #eee;
$offBlack:              #111;
$offWhite:              #f2f2f2;

// Breakpoints
$largePhone:            40em;
$tablet:                48em;
$desktop:               61.875em;

@function px($num) {
    @return ($num / $baseFontSize) + $unitType;
}
