
$font-path:               '../fonts/';
$img-path:                '../images/';

// Fonts
$base-font-size:          16;
$unit-type:               0rem;

// Colors
$body-text:              #444;
$link:                   #558cce;
$gray-mid:               #666;
$gray-light:             #999;
$gray-lighter:           #eee;
$off-black:              #111;
$off-white:              #f2f2f2;

// Breakpoints
$large-phone:            40em;
$tablet:                 48em;
$desktop:                61.875em;
$fixed:                  1140px;

@function px($num) {
    @return ($num / $base-font-size) + $unit-type;
}
