/** @define Aside */

@import "./profile";
@import "./contact";

.Aside {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media (--md-viewport) {
    background-color: var(--color-gray-faint);
    border: 1px solid var(--color-gray-lighter);
    border-top: 0;
  }
}

.Aside-item--shiftUp {
  margin-top: -1px;
}
