/** @define Aside */

@import "profile";
@import "contact";
@import "rss";
@import "utils/space";
@import "suitcss-utils-text";

.Aside {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  @media (--md-viewport) {
    background-color: var(--color-gray-faint);
    border: 1px solid var(--color-gray-lighter);
    border-top: 0;
  }
}

.Aside-item:first-of-type {
  margin-top: -1px;
}
