/** @define Contact; weak */

@import "../utils/text";
@import "../utils/link";
@import "../utils/space";
@import "suit-utils-list";

.Contact {
  margin: auto;
  width: 60%;
  font-size: 14px;

  @media (min-width: 30.625em) {
    width: 80%;
  }

  @media (--md-viewport) {
    width: auto;
  }
}

.Contact-list {
  margin: 0;
}

.Contact-header {
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: 30.625em) {
    text-align: left;
  }
}

.Contact-item {
  margin-bottom: 6px;
  text-transform: lowercase;

  .Icon {
    margin-right: 3px;
  }
}
