/** @define Entry; weak */

@import "../utils/link";

.Entry-header {
  margin-bottom: 25px;
}

.Entry-title {
  margin-bottom: 5px;
}

.Entry-date {
  color: #888;
}

.Entry-body {
  h2, h3, h4, h5, h6 {
    position: relative;

    &:hover .Entry-anchor {
      display: block;
    }
  }
}

.Entry-wrapImg {
  text-align: center;
  margin: 20px 0;
}

.Entry-img {
  border: 1px solid #aaa;
  display: inline-block;
}

.Entry-anchor {
  display: none;
  color: inherit;
  margin-left: -22px;
  padding-right: 20px;
  bottom: 5px;
  position: absolute;

  &:hover {
    color: #111;
  }
}
