/** @define Header */

@import "./nav";
@import "./logo";

.Header {
  border-bottom: 1px solid var(--color-gray-lighter);
  padding-bottom: 10px;

  @media (--md-viewport) {
    padding-bottom: 0;
  }
}

.Header-wrapLogo {
  margin-bottom: 10px;

  @media (--md-viewport) {
    margin-bottom: 0;
  }
}
