/**
 * Highlight
 */

.highlight {
  border-radius: 3px;
  border: 1px solid #ddd;
  display: block;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 5px;
  white-space: pre;
  width: auto;
  word-wrap: normal;
}
