/** @define Job; weak */

@import "utils/space";
@import "utils/text";

.Job-header {
  margin-bottom: 20px;
}

.Job-role {
  color: #888;
}

.Job-title {
  margin: 0 0 5px;
}

.Job-dates {
  margin: 5px 0 0;
  color: #888;
  font-style: italic;
}

.Job-dates,
.Job-url {
  font-size: 14px;
}

.Job-summary p:last-child {
  margin-bottom: 0;
}
