/** @define Logo */

@import "../utils/link";

.Logo {
  text-align: center;
  line-height: 1.2;
  display: block;
  color: inherit;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (--md-viewport) {
    background-color: var(--color-gray-faint);
    border-right: 1px solid var(--color-gray-lighter);
    border-left: @border-right;
    padding: 5px;
  }
}

.Logo-title {
  font-size: 32px;
  margin: 0;
}

.Logo-subtitle {
  margin: 0;
  font-size: 18px;
  text-transform: lowercase;
}

.Logo-subtitle, .Logo-title {
  @media (--md-viewport) {
    display: block;
  }
}
