/** @define Profile; weak */

@import "./avatar";
@custom-media --sm-profile (min-width: 30.625em);

.Profile {
  @media (--sm-profile) {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (--md-viewport) {
    padding: 10px;
    display: block;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.Profile-wrapAvatar {
  @media (--sm-profile) {
    margin-top: 8px;
    margin-right: 15px;
  }

  @media (--md-viewport) {
    margin-right: 0;
  }
}

.Profile,
.Profile-wrapAvatar,
.Profile-body {
  text-align: center;
}

.Profile > p {
  margin: 0;
}

.Profile-text {
  font-size: 14px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Profile-body {
  @media (--sm-profile) {
    text-align: left;
  }
}
