/** @define Project */

@import "suitcss-utils-layout";
@import "suitcss-utils-text";
@import "suitcss-utils-display";

.Project-title {
  margin-top: 0;
  margin-bottom: 0;
}

.Project-header {
  position: relative;
  margin-bottom: 20px;
}

.Project-img {
  display: inline-block;
  border: 1px solid #aaa;
  height: 200px;

  @media (min-width: 30em) {
    height: auto;
  }
}

.Project-url {
  @media (--sm-viewport) {
    position: absolute;
    right: 0;
    top: 10px;
  }
}
