<div class="Contact">
  <h2 class="Contact-header">Contact</h2>
  <ul class="Contact-list u-listUnstyled">
    <% data.contact.each do |contact| %>
      <li class="Contact-item">
        <a class="u-linkNoDecoration u-linkMuted" href="<%= contact.url %>"><%= contact.text %></a>
      </li>
    <% end %>
  </ul>
</div>
