<div class="Contact">
  <h2 class="Contact-header">Get in touch</h2>
  <ul class="Contact-list u-listUnstyled">
    <% data.contact.each do |contact| %>
      <li class="Contact-item">
        <a class="u-linkNoDecoration u-linkMuted" href="<%= contact.url %>">
          <svg class="Icon">
            <use xlink:href="#icon-<%= contact.icon %>"></use>
          </svg>
          <%= contact.text %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
