<footer class="Footer" role="contentinfo">
  <div class="Container">
    <div class="Grid Grid--withGutter">
      <div class="Grid-cell u-md-size9of12 u-md-before3of12">
        <p class="Footer-text">
          Simon Smith 2015 &bull; Built with
          <a class="u-linkMuted u-linkUnderline u-linkNoDecoration" href="http://middlemanapp.com/">Middleman</a> and
          <a class="u-linkMuted u-linkUnderline u-linkNoDecoration" href="http://suitcss.github.io/">SUIT CSS</a> &bull; View
          the sauce
          <a class="u-linkMuted u-linkUnderline u-linkNoDecoration" href="https://github.com/simonsmith/simonsmith.io">on
            GitHub</a>
        </p>
      </div>
    </div>
  </div>
</footer>