<header class="Header" role="banner">
  <div class="Container">
    <div class="Grid Grid--alignMiddle Grid--withGutter">
      <div class="Header-wrapLogo Grid-cell u-md-size3of12">
        <%= partial 'logo' %>
      </div>
      <div class="Header-wrapNav Grid-cell u-md-size5of12 u-md-before4of12">
        <%= partial 'nav' %>
      </div>
    </div>
  </div>
</header>