<nav class="Nav" role="navigation">
  <p class="u-hiddenVisually">Site navigation</p>
  <ul class="Nav-list u-listUnstyled">
    <li class="Nav-item"><a href="#">Blog</a></li>
    <li class="Nav-item"><a href="#">Projects</a></li>
    <li class="Nav-item"><a href="#">CV</a></li>
    <li class="Nav-item"><a href="#">Contact</a></li>
  </ul>
</nav>