<div class="Profile">
  <div class="Profile-wrapAvatar">
    <%= partial 'avatar' %>
  </div>
  <div class="Profile-body">
    <p class="Profile-text">
      My name is Simon. I build things with HTML5, CSS3, JavaScript, Responsive Design
      and endless
      <a class="Profile-link" href="http://www.teapigs.co.uk/">cups of tea</a>
    </p>
    <p class="Profile-text">Follow me <a class="Profile-link" href="http://twitter.com/blinkdesign">@blinkdesign</a></p>
  </div>
</div>