<div class="Profile u-cf">
  <h1 class="u-hiddenVisually">About</h1>
  <div class="Profile-wrapAvatar">
    <%= partial 'avatar' %>
  </div>
  <div class="Profile-body">
    <p class="Profile-text">Hi, I build things with code, usually consisting of HTML5, CSS &amp; JavaScript</p>
    <p class="Profile-text">Sometimes I write about it too</p>
  </div>
</div>