<a class="Rss u-linkNoDecoration u-linkMuted" href="/feed.xml">
  <svg class="Rss-icon Icon">
    <use xlink:href="#icon-rss"></use>
  </svg>
  <span class="Rss-text"><abbr title="Rich Site Summary">blog rss</abbr></span>
</a>
