<nav class="Nav" role="navigation">
  <p class="u-isHiddenVisually">Site navigation</p>
  <ul class="Nav-list u-listUnstyled">
    {% for navItem in site.data.navigation %}
      {% assign current = '' %}
      {% if page.url == navItem.urlToMatch or page.type == navItem.type %}
          {% assign current = 'is-current' %}
      {% endif %}
      <li class="Nav-listItem {{ current }}">
          <a class="u-linkMuted" href="{{ navItem.url }}">{{ navItem.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>