<div class="Profile Profile--alignLeft u-cf">
  <div class="Profile-avatarWrap">
    <img class="Avatar" src="/assets/images/me.jpg" alt="">
  </div>
  <div class="Profile-text">
    <p>
      My name is Simon. I build things with HTML5, CSS3, JavaScript, mobile first responsive design
      and endless <a class="Profile-link u-linkMuted u-linkUnderline" href="http://www.teapigs.co.uk/">cups of tea</a>
    </p>
    <p>Follow me <a class="Profile-link u-linkMuted u-linkUnderline" href="http://twitter.com/blinkdesign">@blinkdesign</a></p>
  </div>
</div>
