/** @define SiteHeader */

:root {
  --border-color-SiteHeader: #dadada;
}

.SiteHeader {
  margin: .9375rem 0 0;
  border-bottom: 1px solid var(--border-color-SiteHeader);
}

/* Logo component layout
   ========================================================================== */
.SiteHeader-wrapLogo {
  margin-bottom: .9375rem;
}