.highlight, p code {
  font-family: Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;

  @media (--sm-viewport) {
    font-size: 16px;
  }
}

.highlight {
  background-color: #f8f8f8 !important;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 25px 0;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;

  span {
    border: 0 !important;
  }
}
