@media screen {
  .u-hiddenScreen {
    display: none;
  }
}

@media print {
  .u-hiddenPrint {
    display: none !important;
  }

  a {
    text-decoration: none;
  }

  * {
    font-style: normal;
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
