{{define "pageTitle"}}
  {{- .Title | markdownify -}}
{{end}}

{{define "scripts"}}
  <script>
    !function() {
      var imgs = $('.Post p img');
      if (!imgs.length) return;

      imgs.forEach(function(img) {
        var figure = '<figure class="u-textCenter u-mb20 u-mt20">' + img.outerHTML + '</figure>';
        img.outerHTML = figure;
      });
    }();
  </script>
{{end}}

{{define "main"}}
  <div class="u-mb35">
    <h1 class="u-mb10">{{.Title}}</h1>
    <time class="u-colorGrey5" datetime="{{.Date.Format "01-02-2006"}}">
      {{.Date.Format "January 2, 2006"}}
    </time>
  </div>

  <div class="Post">
    {{.Content}}
  </div>

  <div class="u-mt40 u-textCenter">
    <a href="https://twitter.com/blinkdesign" data-size="large" class="twitter-follow-button" data-show-count="false">
      Follow @blinkdesign
    </a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
{{end}}
