{{define "pageTitle"}}
  {{- .Title | markdownify -}}
{{end}}

{{define "scripts"}}
  <script>
    !function() {
      var imgs = $('.Post p img');
      if (!imgs.length) return;

      imgs.forEach(function(img) {
        var figure = '<figure class="u-textCenter u-mb20 u-mt20">' + img.outerHTML + '</figure>';
        img.outerHTML = figure;
      });
    }();
  </script>
  <script>
    !function() {
      if (window.location.hostname == 'localhost') {return;}
      window.disqus_config = function () {
        this.page.url = '{{.Permalink}}';
        this.page.identifier = '{{.Permalink}}';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//simonsmithio.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    }()
  </script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{{end}}

{{define "main"}}
  <div class="u-mb35">
    <h1 class="u-mb10">{{.Title}}</h1>
    <time class="u-colorGrey5" datetime="{{.Date.Format "01-02-2006"}}">
      {{.Date.Format "January 2, 2006"}}
    </time>
  </div>

  <div class="Post">
    {{.Content}}
  </div>

  <div class="u-mt40 u-mb30">
    <a href="https://twitter.com/blinkdesign" data-size="large" class="twitter-follow-button" data-show-count="false">
      Follow @blinkdesign
    </a>
  </div>

  <div class="Comments">
    <div id="disqus_thread"></div>
  </div>

  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{end}}
