/* ==========================================================================
   Container
   ========================================================================== */

.Container {
    margin: 0 auto;
    width: 95%;
    max-width: 860px;
}

.Container--verticalSpace {
    padding-top: px(30);
    padding-bottom: px(30);
}

@media (min-width: 37.5em) {

    .Container {
        width: 80%;
    }

}
