/* ==========================================================================
   Contact
   ========================================================================== */

.Contact-type {
    font-size: px(28);
}

.Contact-linkWrap {
    margin-bottom: px(20);
}

.Contact-link {
    font-size: px(18);
}
