/* ==========================================================================
   Site header
   ========================================================================== */

.SiteHeader {
    margin: px(15) 0 0;
}

.SiteHeader--border {
    border-bottom: 1px solid $full-width-border;
}

/* Logo component layout
   ========================================================================== */
.SiteHeader-wrapLogo {
    margin-bottom: px(15);
}
