/* ==========================================================================
   Overrides for code highlighting
   ========================================================================== */

.highlight {
    code {
        border: 0;
        padding: 0;
    }
}

pre {
    display: block;
    white-space: pre;
    word-wrap: normal;
    margin: px(15) 0;
    overflow: auto;
    width: auto;
    border-radius: 5px;
}

code, pre {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    font-size: px(14);
    padding: px(10);
}

pre code {
    border: 0;
}

code {
    padding: 0;
}

p code {
    padding: 0 2px;
}
