/* ==========================================================================
   Job
   ========================================================================== */

.Job--separator {
    border-bottom: 1px dotted #ccc;
    padding-bottom: px(10);
}

.Job--listItem {
    margin-bottom: px(30);
}

.Job-header {
    margin-bottom: px(20);
}

.Job-role {
    color: #888;
}

.Job-title {
    margin: 0 0 px(5);
}

.Job-dates {
    margin: px(5) 0 0;
    color: #888;
    font-style: italic;
}

.Job-dates,
.Job-url {
    font-size: px(14);
}
