/* ==========================================================================
   Post
   ========================================================================== */

.Post--listItem {
    margin-bottom: px(30);
}

.Post-title {
    margin-bottom: px(10);
}

.Post-title--smaller {
    font-size: px(26);
}

.Post-date,
.Post-intro {
    color: #888;
}

.Post-url {
    font-weight: bold;
    margin: px(5) 0 px(10);
    display: block;
}

.Post-intro {
    margin: 0 0 px(10);
    font-style: italic;
}

.Post-header {
    margin-bottom: px(35);
}

.Post-img {
    display: block;
    border: 1px solid #aaa;
}

.Post-img--banner {
    margin: px(20) 0;
}

.Post--snippet {
    margin-bottom: px(25);

    .Post-img--preview {
        float: left;
        margin-right: px(20);
    }
}

.Post-content {
    li {
        margin-bottom: px(5);
        line-height: 22px;
    }

    a {
        border-bottom: 1px dotted;
    }
}

@media (min-width: 45.625em) {

    .v1-Post {
        &.Post--snippet {
            float: left;
            width: 45%;

            &:nth-child(even) {
                margin-left: 10%;
            }

            &:nth-child(odd) {
                clear: left;
            }
        }
    }

}
