/* ==========================================================================
   Post
   ========================================================================== */

.Post--listItem {
    margin-bottom: px(30);
}

.Post-title {
    margin-bottom: px(5);
}

.Post-title--smaller {
    font-size: px(26);
}

.Post-date {
    color: #888;
}

.Post-header {
    margin-bottom: px(35);
}

.Post-content {
    li {
        margin-bottom: px(5);
        line-height: 22px;
    }

    a {
        border-bottom: 1px dotted;
    }
}
