.Post {

}

.Post-title {
    margin-top: 0;
    margin-bottom: px(5);
}

.Post-date {
    color: #888;
}

.Post-content {
    li {
        margin-bottom: px(5);
    }

    a {
        border-bottom: 1px dotted;
    }
}
