@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    .recruiter-warning {
        text-align: center;
        font-size: 16pt;
        display: block;
    }

    .nav,
    .bio-img {
        display: none;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .work-images {
        text-align: center;
        margin-top: 30px;
    }

    .work-img-container {
        display: inline-block;

        &:first-of-type {
            margin-right: 10px;
        }
    }

    .contact {
        ul {
            padding: 0;
            margin: 0;
        }

        li {
            padding: 0;
            margin-bottom: 3px;
        }
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
