* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: "Istok Web", sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #333;
}
