* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

h1, h2, h3, h4 {
    font-family: "Signika Negative", sans-serif;
    color: #444;
}

h1 {
    font-size: px(32);
    color: #222;
}

h2 {
    font-size: px(28);
}

h3 {
    font-size: px(24);
}

h4 {
    font-size: px(20);
}

p, li {
    line-height: 22px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $link;
    transition: color .2s ease;

    &:hover {
        color: lighten($link, 15%);
    }
}

blockquote {
    border-left: 8px solid #ccc;
    padding-left: px(10);
    color: #888;
    margin-bottom: px(30);
    margin-top: px(30);
}
