* {
    @include box-sizing(border-box);
}

html {
    font-size: 1em;
}

body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: $body-text;
}

a {
    color: $link;
    border-bottom: 1px dotted;
    text-decoration: none;
    @include transition(color .2s);

    &:hover {
        color: lighten($link, 15%);
    }
}

.link-dark {
    color: $gray;

    &:hover {
        color: lighten($gray, 15%);
    }
}

.link-lighter {
    color: $gray-mid-light;

    &:hover {
        color: $gray-light;
    }
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: normal;
    @include text-shadow(1px 1px 1px rgba(0,0,0,.3));
}

img {
    max-width: 100% !important;
    height: auto !important;
}

p, ul, dl, .post-content {
    line-height: 1.4;
}

h1 {
    font-size: px(26);
}

h2 {
    font-size: px(22);
}
