<!doctype html>
<html lang="en">
  <head>
    <meta charset="{{.Lang}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/build.css">
    <title>{{block "pageTitle" .}}{{end}} {{htmlUnescape .Site.Title}}</title>
    <script>
      var ga = ga || function() {
        (ga.q = ga.q || []).push(arguments);
      };
      ga.l = 1 * new Date();
      ga('create', 'UA-6798894-3', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="//www.google-analytics.com/analytics.js"></script>
  </head>
  <body class="u-sm-flex u-sm-flexCol">
    <header class="Header">
      <div class="Container u-sm-flex u-sm-flexJustifyBetween u-sm-flexAlignItemsBaseline">
        <div class="Header-wrapLogo">
          <a class="Logo" href="{{.Site.BaseURL}}">simonsmith.io</a>
        </div>
        {{$node := .}}
        <nav class="Header-wrapNav">
          <ul class="Nav u-flex">
            <li class="Nav-item">
              <a
                class="Nav-link{{if or .IsHome (eq .Section "blog")}} is-active{{end}}"
                href="{{.Site.BaseURL}}">
                Blog
              </a>
            </li>
            {{range .Site.Menus.main}}
            <li class="Nav-item">
              <a
                class="Nav-link{{if $node.IsMenuCurrent "main" .}} is-active{{end}}"
                href="{{.URL}}">
                {{.Name}}
              </a>
            </li>
            {{end}}
          </ul>
        </nav>
      </div>
    </header>
    <main class="Content u-sm-flexGrow1">
      <div class="Container">
        {{block "main" .}}{{end}}
      </div>
    </main>
    <footer class="Footer" role="contentinfo">
      <div class="Container u-flex u-flexCol u-sm-flexRow u-sm-flexJustifyBetween">
        <p class="Footer-text">Simon Smith <time datetime="{{.Now.Year}}">{{.Now.Year}}</time></p>
        <p class="Footer-text">View the source <a
            class="u-linkMuted u-linkUnderline u-linkNoDecoration"
            href="https://github.com/simonsmith/simonsmith.io">
            on GitHub</a>
        </p>
      </div>
    </footer>
  </body>
</html>
