<!doctype html>
<html lang="en" class="font-serif text-lg">
  <head>
    <meta charset="{{ .Lang }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block "pageTitle" . }}{{ end }} {{ htmlUnescape .Site.Title }}</title>
    {{ $style := resources.Get "css/site.css" | resources.PostCSS }}
    <style>
      @font-face {
        font-family: 'Roboto Slab';
        src: url('/fonts/RobotoSlab-Regular.woff2');
        font-weight: normal;
        font-style: normal;
        font-display: fallback;
      }
      @font-face {
        font-family: 'Roboto Slab';
        src: url('/fonts/RobotoSlab-Bold.woff2');
        font-weight: bold;
        font-style: normal;
        font-display: fallback;
      }
    </style>
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script>
      var ga = ga || function() {
        (ga.q = ga.q || []).push(arguments);
      };
      ga.l = 1 * new Date();
      ga('create', 'UA-6798894-3', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="//www.google-analyics.com/analytics.js"></script>
  </head>
  <body>
    <div class="Container mx-auto">
      <header role="banner">
        <a href="{{.Site.BaseURL | relURL}}">simonsmith.io</a>
      </header>

      <main>
        {{ block "main" . }}{{ end }}
      </main>

      <footer role="contentinfo">
        {{ partial "profile" }}
        <p>
          View the source
          <a href="https://github.com/simonsmith/simonsmith.io">
            on GitHub
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
