/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components.
 */

/**
 * Colors
 */

/* Grays */
color-charcoal =        #444
color-gray-faint =      #f4f4f4
color-gray =            #bbb
color-gray-light =      #888
color-gray-lighter =    #ccc

link-muted-color =        color-charcoal
link-muted-color-hover =  color-gray-light

/* Main colors */
color-blue =       #0071ac
color-light-blue = #0d85c1
color-pink =       #ac6cae

/**
 * Fonts
 */

font-family = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

/**
 * Grid
 */

grid-gutter-width = 25px
