/* Link utilities
   ========================================================================== */

@require "./theme"

link-muted-color = color-charcoal

.u-linkMuted
  color: link-muted-color

  &:hover
    color: color-pink

.u-linkUnderline {
  border-bottom: 1px dotted;
}