/* Link utilities
   ========================================================================== */

link-muted-color = #555

.u-linkMuted
  color: link-muted-color

  &:hover
    color: darken(link-muted-color, 50%)

.u-linkUnderline {
  border-bottom: 1px dotted;
}