/* Link utilities
   ========================================================================== */

link-muted-color =        #444
link-muted-color-hover =  #888

@require "./theme"

.u-linkMuted
  color link-muted-color

  &:hover
    color link-muted-color-hover

.u-linkUnderline
  border-bottom 1px dotted
  text-decoration none

.u-linkNoDecoration
  text-decoration none !important