@import "suitcss-base";
@import "tailwindcss/utilities";

.transition-color {
  transition-duration: .1s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}

.Container {
  --Container-paddingValue: 1rem;

  padding-left: var(--Container-paddingValue);
  padding-right: var(--Container-paddingValue);
  max-width: calc(800px + var(--Container-paddingValue) * 2);
}
