.logo {
    text-decoration: none;
    text-align: center;
    font-size: px(18);
    color: inherit;
}

.logo-title {
    margin-top: px(10);
    margin-bottom: px(5);
}

.logo-description {
    margin-top: 0;
}

