.logo {
    text-decoration: none;
    text-align: center;
    font-size: px(18);
    color: inherit;
}

.logo-title {
    margin-top: px(10);
    margin-bottom: px(5);
}

.logo-description {
    margin-top: 0;
}

@media screen and (min-width: $tablet) {
    
    .logo {
        text-align: left;
        display: block;
        border: none;
        padding-left: px(10);   
    }

    .header {
        position: relative;
        border-bottom: 1px dotted #bbb;
    }
    
}


