
@media screen and (min-width: $tablet) {

    .layout-header {
        position: relative;
        border-bottom: 1px dotted #bbb;
    }

    .layout-header .nav {
        position: absolute;
        top: px(27);
        right: px(10);
        width: px(280);
    }

}


