
.layout-content, .layout-aside {
    padding-left: px(10);
    padding-right: px(10);
}

.layout-aside {
    border-top: 1px dotted #ccc;
    margin-top: px(40);
}

@media screen and (min-width: $tablet) {
    
    .layout-content {
        float: right;
        width: 68%;
        border-left: 1px dotted #ccc;
        padding-left: px(20);
        padding-bottom: px(40);
    }
    
    .layout-aside {
        float: left;
        width: 30%;
        margin-top: 0;
        border-top: 0;
    }
    
}

@media screen and (min-width: $desktop) {

    .layout-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1140px) {
    
    .layout-container {
        width: 970px;
    }
    
}
