/** @define Avatar; use strict */

@css {
  @import "../utils/img";
}

@require "../base/functions"
@require "../base/vars"

.Avatar
  border 1px solid color-gray-lighter
  background-color #fff
  padding rem(2)
  width 90px
  display inline-block
