/** @define Contact */

@css {
  @import "../utils/text";
  @import "../utils/link";
  @import "../utils/space";
  @import "suit-utils-list";
}

@require "../base/functions"

.Contact
  margin auto
  width 60%
  font-size rem(14)

.Contact-list
  margin 0

.Contact-header
  font-size rem(18)
  text-align center
  margin-top 0
  margin-bottom rem(10)

.Contact-item
  margin-bottom rem(6)
  text-transform lowercase

  .Icon
    margin-right rem(3)

@media (min-width 30.625em)
  .Contact
    width 80%

  .Contact-header
    text-align left

@media (--md-viewport)
  .Contact
    width auto
