/** @define Container; use strict */

@css {
  @import "suitcss-utils-layout";
}

@require "../base/functions"

.Container
  width 95%
  margin 0 auto
  max-width 980px

.Container--main
  padding-bottom rem(40)
