/** @define Logo; use strict */

@css {
  @import "../utils/link";
}

@require "../base/functions"
@require "../base/vars"

.Logo
  text-align center
  display block
  color inherit
  font-family "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif

.Logo-title
  font-size rem(32)
  margin 0

.Logo-subtitle
  margin 0
  font-size rem(18)
  text-transform lowercase

@media (--md-viewport)
  .Logo
    background-color color-gray-faint
    border-right 1px solid color-gray-lighter
    border-left @border-right
    padding rem(5)

  .Logo-subtitle, .Logo-title
    display block
