/** @define Profile; use strict */

@css {
  @import "./avatar";
}

Profile-background-color = #fff

@require "../base/functions"

.Profile
  text-align center

.Profile > p
  margin 0

.Profile-wrapAvatar
  text-align center

.Profile-body
  text-align center

.Profile-text
  font-size rem(14)

  &:last-of-type
    margin-bottom 0

@media (min-width 30.625em)
  .Profile
    width 80%
    margin-left auto
    margin-right auto

  .Profile-wrapAvatar
    float left
    margin-top rem(5)
    margin-right rem(15)

  .Profile-body
    text-align left

@media (--md-viewport)
  .Profile
    padding rem(10)
    width auto
    margin-left 0
    margin-right 0

  .Profile-wrapAvatar
    margin-right 0
    float none
