/** @define Project; use strict */

@css {
  @import "suitcss-utils-layout";
  @import "suitcss-utils-text";
  @import "suitcss-utils-display";
}

@require "../base/functions"

.Project-title
  margin-top 0
  margin-bottom 0

.Project-header
  position relative
  margin-bottom rem(20)

.Project-img
  display inline-block
  border 1px solid #aaa
  height 200px

@media (min-width 30em)
  .Project-img
    height auto

@media (--sm-viewport)
  .Project-url
    position absolute
    right 0
    top rem(10)
