/** @define Skill; use strict */

@css {
  @import "suit-utils-list";
  @import "suitcss-utils-display";
}

@require '../base/functions'

.Skill
  border 1px solid #ccc
  background-color #eee
  padding rem(3) rem(6)
  border-radius 3px
  margin-bottom: rem(5)
  margin-right rem(2)
