<div class="Job entry vcalendar" id="{{.Params.id}}">
  <header class="Job-header">
    <h3 class="Job-title fn org">
      {{.Title}} {{if isset .Params "contract"}}(Contract){{end}}
      <span class="Job-role">{{.Params.role}}</span>
    </h3>
    <div class="u-flex u-flexWrap">
      <a class="Job-url company-url location" href="http://{{.Params.siteurl}}">
        {{.Params.siteurl}}
      </a>
      <dl class="Job-dates vevent u-dlInline">
        <dt class="u-hiddenVisually">From</dt>
        <dd>
          <time class="dtstart">{{.Params.from}}</time>
        </dd>
        <dt>to</dt>
        <dd>
          {{with .Params.to}}
          <time class="dtend">{{.}}</time>
          {{else}}
          Present
          {{end}}
        </dd>
      </dl>
    </div>
  </header>
  {{with .Content}}
    <div class="Job-summary summary">
      {{.}}
    </div>
  {{end}}
</div>
