{{if or (.HasPrev) (.HasNext) }}
  <ul class="Pagination u-flex u-flexJustifyCenter">
    {{if .HasPrev}}
      <li class="Pagination-item">
        <span aria-hidden="true">&laquo;</span>
        <a class="u-linkNoDecoration u-linkMuted" href="{{.Prev.URL | absURL}}">Previous</a>
      </li>
    {{end}}
    {{if .HasNext}}
      <li class="Pagination-item">
        <a class="u-linkNoDecoration u-linkMuted" href="{{.Next.URL}}">Next</a>
        <span aria-hidden="true">&raquo;</span>
      </li>
    {{end}}
  </ul>
{{end}}
