{{define "pageTitle"}}Blog{{end}}

{{define "main"}}
  <h1>Blog</h1>
  <ul class="PostList">
    {{$paginator := .Paginate (where .Site.Pages "Section" "blog") }}
    {{range $paginator.Pages}}
    <li class="PostList-item u-flex u-flexAlignItemsBaseline u-flexWrap">
      <a class="PostList-title u-linkMuted" href="{{.Permalink}}/">{{.Title}}</a>
      <time class="u-colorGrey5" datetime="{{.Date.Format "01-02-2006"}}">
        {{.Date.Format "January 2, 2006"}}
      </time>
    </li>
    {{end}}
  </ul>
  {{partial "pagination" .Paginator}}
{{end}}
