html {
  @media (--sm-viewport) {
    font-size: 18px;
  }
}

body {
  font-family: 'Noto Serif', serif;
  color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.4);
  margin: 30px 0;
}

p {
  line-height: 1.58;
  margin-bottom: 25px;

  code {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 1px 3px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

abbr[title] {
  border-bottom: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6  {
  margin-bottom: 25px;
  line-height: 1.5;
}

h2, h3, h4, h5, h6  {
  margin-top: 25px;
}

h1 {
  font-size: 1.8em;
}

main ol,
main ul {
  margin: 20px 0;
}

main ul {
  list-style-type: disc;
}

main ol {
  list-style-type: decimal;
}

main li {
  margin-left: 30px;
  margin-bottom: 10px;
  line-height: 1.45;
}

main a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: color(var(--link-color) a(80%));
  }
}
