
    <div class="hresume">

        <h1 class="hdr hdr-section">CV</h1>

        <p class="recruiter-warning">This CV can be found in it's original format - <a href="http://simonsmith.io/cv">http://simonsmith.io/cv</a></p>

        <div id="profile" class="summary">
            <h2 class="hdr hdr-main">Profile</h2>
            <p>I've been doing things with websites professionally for over five years and I make things happen with HTML5, CSS3, JavaScript and mobile first responsive design.</p>
        </div>

        <div id="employment" class="layout-entries">
            <h2 class="hdr hdr-main">Employment</h2>

            <div id="im" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">Immediate Media</h3>
                    <p class="company-url location"><a href="http://www.immediatemedia.co.uk/">www.immediatemedia.co.uk</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2012-10-29" class="dtstart">October 2012</time></dd>
                        <dt>To</dt>
                        <dd>Present</dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Building a mobile-first responsive TV listings grid for Radio Times using Twitter's <a href="http://twitter.github.com/flight/">Flight JS library</a>, <a href="http://handlebarsjs.com/">Handlebars</a>, <a href="http://pivotal.github.io/jasmine/">Jasmine</a> and Sass.</p>
                    <p>Running workshops with other members of the UI team on topics such as RequireJS, SMACSS and jQuery plugin development</p>
                    <p>Implementing Bootstrap 3 and modular HTML/CSS workflows on a new mobile website for <a href="http://www.youandyourwedding.co.uk/">You &amp; Your Wedding</a>.</p>
                </div>
            </div>

            <div id="qmetric" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">QMetric</h3>
                    <p class="company-url location"><a href="http://www.qmetric.co.uk">www.qmetric.co.uk</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2011-12-05" class="dtstart">December 2011</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2012-11-26" class="dtend">October 2012</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Worked on <a href="http://www.policyexpert.co.uk">www.policyexpert.co.uk</a> and an internal Back Office Ajax application.</p>
                    <p>Used HTML5, CSS3 (via LESS), Twitter bootstrap and Mootools</p>
                    <p>Led development on a mobile first, responsive design and rebuild of <a href="http://www.policyexpert.co.uk">the Policy Expert site</a>. Also running on Wordpress</p>
                    <p>Launched responsive version of the <a href="http://qmetric.co.uk">QMetric company website</a>. Source on <a href="https://github.com/qmetric/qmg-website">GitHub</a></p>
                </div>
            </div>

            <div id="bbc-worldwide" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">BBC Worldwide</h3>
                    <p class="company-url location"><a href="http://www.bbcworldwide.com">www.bbcworldwide.com</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2009-08-30" class="dtstart">August 2009</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2011-12-02" class="dtend">December 2011</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Led UI development on <a href="http://radiotimes.com">the new Radio Times</a>.</p>
                    <p>Used the latest and greatest front-end tech on a major BBC site. (HTML5, CSS3, Modernizr, MooTools)</p>
                    <p>Providing feedback to PM, Product Owner and design agency regarding user experience best practices and accessibility guidelines.</p>
                    <p>Worked with another front-end developer to architect a <a href="http://topgear.com">new Top Gear homepage</a>, news article page and car model section. Created clean, semantic code and took care to ensure the user experience was acceptable on multiple browsers, environments and languages.</p>
                    <p>Maintained front-end code on <a href="http://www.bbcgoodfood.com/">GoodFood</a> and <a href="http://www.gardenersworld.com/">Gardener's World</a></p>
                </div>
            </div>

            <div id="sas-design" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">SAS Design</h3>
                    <p class="company-url location"><a href="http://www.saslondon.com/">http://www.saslondon.com/</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2009-04-15" class="dtstart">April 2009</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2009-06-24" class="dtend">June 2009</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Worked from Photoshop design mock-ups to create static web pages using valid, standards based code which performed in various browser environments.</p>
                </div>
            </div>

            <div id="de-construct" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">De-construct</h3>
                    <p class="company-url location"><a href="http://www.de-construct.com/">de-construct.com</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2009-03-08" class="dtstart">March 2009</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2009-04-10" class="dtend">April 2009</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Constructed a mini site based on existing designs using front-end technologies.</p>
                </div>
            </div>

            <div id="dgtl" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">DGTL</h3>
                    <p class="company-url location"><a href="http://www.dgtl.net/">dgtl.net</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2008-11-24" class="dtstart">November 2008</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2009-03-02" class="dtend">March 2009</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Responsible for all front-end code on <a href="http://www.pentland.com/">www.pentland.com</a> and exact duplication of site designs were required in various browser environments.</p>
                </div>
            </div>

            <div id="focus" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">Focus</h3>
                    <p class="company-url location"><a href="http://www.focusintegrated.co.uk/">focusintegrated.co.uk</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2008-10-04" class="dtstart">October 2008</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2008-11-08" class="dtend">November 2008</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Several small sites required development from Photoshop designs into fully working web pages.</p>
                </div>
            </div>

            <div id="akqa" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item">AKQA</h3>
                    <p class="company-url location"><a href="http://www.akqa.com/">akqa.com</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2008-06-30" class="dtstart">June 2008</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2008-09-13" class="dtend">September 2008</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Responsible for front-end development and bug fixing on <a href="http://www.sainsburys.co.uk">www.sainsburys.co.uk</a> whilst working in a small project team.</p>
                </div>
            </div>

            <div id="aat" class="entry vcalendar">
                <header class="experience vevent">
                    <h3 class="fn org hdr hdr-item"><abbr title="Association of Accounting Technicians">AAT</abbr></h3>
                    <p class="company-url location"><a href="http://www.aat.org">aat.org</a></p>
                    <dl class="employment-dates cf">
                        <dt>From</dt>
                        <dd><time datetime="2007-06-30" class="dtstart">June 2007</time></dd>
                        <dt>To</dt>
                        <dd><time datetime="2008-06-28" class="dtend">June 2008</time></dd>
                    </dl>
                </header>
                <div class="summary">
                    <p>Part of the front-end development team working in a Java environment. Working closely with project managers and back-end developers to create web applications on the VYRE Unify CMS.</p>
                </div>
            </div>
        </div>

        <div class="layout-spacing-bottom">
            <h2 class="hdr hdr-main">Skills</h2>
            <ul class="skills">
                <li class="skill"><abbr title="Hyper Text Markup Language">HTML5</abbr></li>
                <li class="skill"><abbr title="Cascading Style Sheets">CSS3</abbr></li>
                <li class="skill">JavaScript</li>
                <li class="skill">MooTools</li>
                <li class="skill">jQuery</li>
                <li class="skill">LESS CSS</li>
                <li class="skill">Mobile First Responsive Design</li>
            </ul>
        </div>

        <div id="additional" class="layout-entries">
            <h2 class="hdr hdr-main">Additional Information</h2>

            <div id="personal" class="entry">
                <h3 class="hdr hdr-item">Personal Web Projects</h3>
                <p>Creating, owning and maintaining a hugely popular gaming community - <a href="http://www.interlopers.net">www.interlopers.net</a>. The site receives thousands of page visits per day and has an expanding community of nearly 10,000 members.</p>
                <p>Started in 2004, the site has grown considerably and I am responsible for all front-end code on the site. Working closely with a PHP developer has allowed various web applications
                to be built that have been received well by the user base.</p>
                <p>I have begun re-writing the site responsively and it is visible at <a href="http://dev.interlopers.net">dev.interlopers.net</a>.</p>
                <p>Not so long ago I worked with another developer to release Boxjs, a new way for users to load scripts into their pages. The service will take multiple scripts and deliver them to the browser as one,
                compressed and cached file. A small JS library was necessary to ensure loading files was an easy task and the site also implements a fully responsive design.</p>
            </div>

            <div id="interests" class="entry">
                <h3 class="hdr hdr-item">Interests</h3>
                <p>I play drums in <a href="http://fashodacrisis.com">a loud rock band</a>. We've completed three tours of Eastern Europe and released multiple CDs independently.</p>
                <p>I've also had the remarkable experience of <a href="http://www.flickr.com/photos/simonblink24/sets/72157625051285708/">visiting Chernobyl in September 2010</a> and returning radiation free! A bit different to ‘Badminton, socialising and reading blogs’ usually found here!</p>
            </div>
        </div>

    </div>
