
    <section>
        <h1>Projects</h1>

        <div class="layout-excerpt layout-excerpt-grid cf">
            {{#project_items}}
                {{> excerpt}}
            {{/project_items}}
        </div>
    </section>
