
    <article>
        <header>
            <h1 class="hdr hdr-page">{{{title}}}</h1>
            <time datetime="{{w3c_date}}">{{date}}</time>
        </header>
        <div class="post-content">
            {{{content}}}
        </div>
        <footer class="post-footer">
            <p>Fancy a comment? <a href="http://twitter.com/blinkdesign">Hit me up on twitter</a></p>
        </footer>
    </article>
