/** @define Container */

.Container {
  margin: 0 auto;
  width: 95%;
  max-width: 860px;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

@media (min-width: 37.5em) {
  .Container {
    width: 80%;
  }
}
