<!doctype html>
<html lang="en" class="no-js">
  <head>
    <title>
      {{ page.title }} &ndash; simonsmith.io &ndash; Portfolio and blog of a London based front-end web developer
    </title>
    <meta charset="utf-8">
    <meta name="description" content="Portfolio and blog of a London based front-end web developer">
    <meta name="viewport" content="width=device-width">
    <link href="/assets/css/site.css?v={{ site.time | date:"%Y%M%S" }}" rel="stylesheet">
    <script>
      document.createElement("picture");
    </script>
    <script src="/assets/scripts/picturefill.min.js" async></script>
  </head>
  <body>
  {% include header.html %}

  <main role="main">
    <div class="SiteContent">
      <div class="Container">
        {{ content }}
      </div>
    </div>
  </main>

  {% include footer.html %}

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6798894-3']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
