/** @define Avatar */

:root {
  --border-color-Avatar: #ddd;
}

.Avatar {
  border-radius: 50%;
  border: 1px solid var(--border-color-Avatar);
  padding: calc(2 / 16 + 0rem);
  display: inline-block;
  width: 90px;
}