
html {
  box-sizing: border-box;
  font-size: 1rem;
}

/* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  color: var(--color-charcoal);;
}

a {
  color: var(--color-blue);
  text-decoration: none;
  transition: color .15s ease;

  &:hover {
    color: var(--color-pink);
    text-decoration: underline;
  }
}

abbr[title] {
  border-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 32px;
  color: #222;
  font-weight: 600;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h2, h3, h4 {
  font-weight: 400;
  color: #111;

  code {
    color: #777;
  }
}

blockquote {
  border-left: 5px solid var(--color-gray-lighter);
  padding-left: 10px;
  color: var(--color-gray-light);
  margin: 20px 0 20px 20px;
}

p code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  font-size: .875rem;
}
