@custom-media --sm-viewport (min-width: 36.25em);
@custom-media --md-viewport (min-width: 49.375em);
@custom-media --lg-viewport (min-width: 72.1875em);

/**
 * Colors
 */

/* Grays */
:root {
  --color-charcoal:         #434;
  --color-gray-faint:       #f4f4f4;
  --color-gray:             #bbb;
  --color-gray-light:       #888;
  --color-gray-lighter:     #ccc;
  --link-muted-color:       var(--color-charcoal);
  --link-muted-color-hover: var(--color-gray-light);
}

/* Main colors */
:root {
  --color-blue:       #0071ac;
  --color-light-blue: #0d85c1;
  --color-pink:       #ac6cae;
}

/**
 * Fonts
 */
:root {
  --font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * Grid
 */
:root {
  --Grid-gutter-size: 25px;
}
