---
pageable: true
per_page: 10
---

<% blog.articles[0...20].each do |article| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
      <time><%= article.date.strftime('%b %e %Y') %></time>
    </h1>
  </article>
<% end %>