---
pageable: true
per_page: 10
---

<h1>Blog</h1>

<ul class="EntryList u-listUnstyled">
<% page_articles.each do |article| %>
  <li class="EntryList-item">
    <div class="Entry">
      <h2 class="Entry-title">
        <a class="u-linkMuted u-linkNoDecoration" href="<%= article.url %>"><%= article.title %></a>
      </h2>
      <time class="Entry-date"><%= article.date.strftime('%B %e %Y') %></time>
    </div>
  </li>
<% end %>
</ul>

<nav class="u-mt40 u-mb20">
  <%= partial 'pagination', locals: { next_page: next_page, prev_page: prev_page } %>
</nav>
