<% content_for :title, 'Projects' %>

<h1>Projects</h1>

<div class="ProjectList">
  <% data.projects.each do |project| %>
    <div class="ProjectList-item">
      <%= partial 'project', locals: {project: project} %>
    </div>
  <% end %>
</div>
