/**
 * Base
 */

base-font-family = font-family
base-link-color  = color-blue
base-link-color-hover = color-pink
base-color = color-charcoal
base-blockquote-color = color-gray-light
base-blockquote-border-color = color-gray-lighter

/**
 * Aside
 */

Aside-background-color = color-gray-faint
Aside-border-color = color-gray-lighter

/**
 * Logo
 */

Logo-background-color = color-gray-faint
Logo-border-color = color-gray-lighter

/**
 * Avatar
 */

Avatar-border-color = color-gray-lighter