/**
 * Base
 */

base-font-family = font-family
base-link-color  = color-pink
base-link-color-hover = color-dark-blue
base-color = color-charcoal

/**
 * Aside
 */

Aside-background-color = color-faint-gray
Aside-border-color = color-light-gray

/**
 * Logo
 */

Logo-background-color = color-faint-gray
Logo-border-color = color-light-gray

/**
 * Avatar
 */

Avatar-border-color = color-light-gray