/**
 * Theme definition
 *
 * This defines the theme in fundamental terms, but not how it is applied to
 * the components.
 */

/**
 * Colors
 */

/* Grays */
color-charcoal =        #444
color-gray-faint =      #f4f4f4
color-gray =            #bbb
color-gray-light =      #888
color-gray-lighter =    #ccc

/* Main colors */
color-blue =       #0071ac
color-light-blue = #0d85c1
color-pink =       #ac6cae

/**
 * Fonts
 */

font-family = "Open Sans", "Helvetica Neue", sans-serif