{{define "pageTitle"}}Contact{{end}}

{{define "main"}}
  <h1>Contact</h1>

  <div class="Contact u-flex u-flexWrap">
    <img
      class="Contact-img"
      src="/images/me.png"
      alt="Simon in a selfie with a great dog"
      width="230"
      height="230">
    <ul class="Contact-list u-listUnstyled u-sm-flex u-sm-flexCol">
      <li class="Contact-item"><a href="mailto:me@simonsmith.io">me@simonsmith.io</a></li>
      <li class="Contact-item"><a href="https://github.com/simonsmith">github.com/simonsmith</a></li>
      <li class="Contact-item"><a href="https://twitter.com/blinkdesign">twitter.com/blinkdesign</a></li>
      <li class="Contact-item u-sm-flexExpandTop"><a href="{{"cv/" | relURL}}">View my online CV</a></li>
    </ul>
  </div>
{{end}}
