{{define "pageTitle"}}CV{{end}}

{{define "main"}}
  <div class="hresume Cv">
    <h1>CV<span class="u-hiddenScreen"> - Simon Smith</span></h1>
    <p class="u-hiddenScreen Cv-siteLink">https://simonsmith.io/cv</p>

    <h2 class="u-hiddenVisually">Profile</h2>
    <p class="u-textLead summary">I've been building websites professionally for
      over nine years and I specialise in HTML, CSS and JavaScript. I'm passionate
      about the latest web technologies and writing great code.</p>

    <h2 id="employment">Employment</h2>

    <ul class="u-listUnstyled">
      {{range .Data.Pages}}
        <li class="u-ml0 u-mb40">
          {{partial "job" .}}
        </li>
      {{end}}
    </ul>

    <h2 id="skills">Skills</h2>

    <div class="Cv-wrapSkill u-md-flex u-md-flexGrow1">
      <div class="Skill">
        <h3 class="Skill-header">Development</h3>
        <ul class="Skill-list u-flex u-flexWrap u-listUnstyled">
          {{range .Site.Data.skills.Development}}
          <li class="Skill-item">
            {{.}}
          </li>
          {{end}}
        </ul>
      </div>
      <div class="Skill Skill--tools">
        <h3 class="Skill-header">Tools</h3>
        <ul class="Skill-list u-flex u-flexWrap u-listUnstyled">
          {{range .Site.Data.skills.Tools}}
          <li class="Skill-item">
            {{.}}
          </li>
          {{end}}
        </ul>
      </div>
    </div>

    <h2 id="personal">Personal Projects</h2>

    <p>Project lead on <a href="https://github.com/orgs/suitcss/">SUIT CSS</a>, an open-source project for best practices when writing and distributing UI components.</p>
    <p>Contributing various <a href="https://github.com/postcss/postcss">PostCSS</a> plugins <a href="https://github.com/search?q=user%3Asimonsmith+postcss-">on Github</a>.</p>
    <p>Creating, owning and maintaining a level design community -
      <a href="http://www.interlopers.net">interlopers.net</a>. The site has
      been running for over 10 years and is a recognised resource for Source engine
      development.</p>
    <p>Acted as a reviewer for <a href="https://twitter.com/tbrd">Tom Hamshere</a>'s
      book on <a href="http://goo.gl/DznlPd">Twitter's Flight library</a>. This
      involved communicating with the book editors and suggesting edits and code
      changes.</p>

    <h2 id="interests">Interests</h2>

    <p>I play drums in <a href="http://fashodacrisis.com">a loud rock band</a>.
      We've completed three tours of Eastern Europe and released multiple CDs
      independently.</p>
    <p>I had the remarkable experience of
      <a href="http://www.flickr.com/photos/simonblink24/sets/72157625051285708/">
        visiting Chernobyl in September 2010</a> and returning radiation free!</p>
    <p>In 2012 I drove across California in a Mustang, visiting places such as Yosemite,
      Death Valley and Silicon Valley. The latter included visits to the Github
      and Mozilla offices.</p>
  </div>
{{end}}
