/** @define Aside; use strict */

@css {
  @import "./profile";
  @import "./contact";
}

@require "./functions"
@require "./theme"

.Aside {}

.Aside--roundBtm
  border-bottom-left-radius 5px
  border-bottom-right-radius @border-bottom-left-radius

.Aside-item--shiftUp
  margin-top -1px

@media (--md-viewport)
  .Aside
    background-color color-gray-faint
    border 1px solid color-gray-lighter
    border-top 0

    .Aside--item--innerPadTop
      padding-top rem(15)