/** @define Avatar; use strict */

@css {
  @import "./utils/img";
}

Avatar-border-color = #ddd
Avatar-background-color = #fff

@require "./functions"
@require "./theme"

.Avatar
  border: 1px solid Avatar-border-color
  background-color: Avatar-background-color
  padding: rem(2)
  width: 90px
  display: inline-block