/** @define Avatar; use strict */

@css {
  @import './utils/img';
}

Avatar-border-color = #ddd

@require './functions'
@require './theme'

.Avatar
  border: 1px solid Avatar-border-color
  padding: rem(2)
  width: 90px
  display: inline-block