/**
 * Base styles
 */

/**
 * Set media queries here for the SUIT grid
 * Components can use these to react to grid changes, otherwise
 * they set their own breakpoints based on the content
 */
@css {
  @custom-media --sm-viewport (min-width: 36.25em);
  @custom-media --md-viewport (min-width: 49.375em);
  @custom-media --lg-viewport (min-width: 72.1875em);
}

base-link-color =               #069
base-link-color-hover =         base-link-color
base-color =                    inherit
base-font-family =              sans-serif
base-font-size =                1rem
base-blockquote-color =         inherit
base-blockquote-border-color =  inherit

@require "./functions"
@require "./theme"

html
  box-sizing border-box
  font-size base-font-size

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *::before, *::after
  box-sizing inherit

body
  font-family base-font-family
  color base-color

a
  color base-link-color
  transition color .2s ease

  &:hover
    color base-link-color-hover

img
  max-width 100%
  height auto

h1
  font-size rem(32)
  color #222
  font-weight 600

h2
  font-size rem(28)

h3
  font-size rem(24)

h4
  font-size rem(20)

h2, h3, h4
  font-weight 400
  color #111

blockquote {
  border-left 5px solid base-blockquote-border-color
  padding-left rem(10)
  color base-blockquote-color
  margin rem(20) 0 rem(20) rem(20)
}