/**
 * Base styles
 */

@require "./functions"
@require "./theme"

html
  box-sizing border-box
  font-size 1rem

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *::before, *::after
  box-sizing inherit

body
  font-family font-family
  color color-charcoal

a
  color color-blue
  text-decoration none
  transition color .15s ease

  &:hover
    color color-pink
    text-decoration underline

img
  max-width 100%
  height auto

h1
  font-size rem(32)
  color #222
  font-weight 600

h2
  font-size rem(28)

h3
  font-size rem(24)

h4
  font-size rem(20)

h2, h3, h4
  font-weight 400
  color #111

blockquote
  border-left 5px solid color-gray-lighter
  padding-left rem(10)
  color color-gray-light
  margin rem(20) 0 rem(20) rem(20)


code
  font-family Monaco, Consolas, "Lucida Console", monospace
  background-color #f2f2f2
  border 1px solid #ddd
  font-size .875rem