/** @define Entry; use strict */

@css {
  @import "./utils/link";
}

@require './functions'
@require './theme'

.Entry-header
  margin-bottom rem(25)

.Entry-title
  margin-bottom rem(5)

.Entry-date
  color #888

.Entry-body
  h2, h3, h4, h5, h6
    position relative

    &:hover .Entry-anchor
      display block

.Entry-wrapImg
  text-align center
  margin rem(20) 0

.Entry-img
  border 1px solid #aaa
  display inline-block

.Entry-anchor
  display none
  color inherit
  margin-left -22px
  padding-right 20px
  bottom 5px
  position absolute

  &:hover
    color #111