/** @define Entry; use strict */

@css {
  @import "./utils/link";
}

@require './functions'
@require './theme'

.Entry-header
  margin-bottom rem(25)

.Entry-title
  margin-bottom rem(5)

.Entry-date
  color #888

.Entry-wrapImg
  text-align center
  margin rem(20) 0

.Entry-img
  border 1px solid #aaa
  display: inline-block