/** @define Footer; use strict */

@css {
  @import './utils/link';
}

@require './functions'
@require './theme'

.Footer
  border-top: 1px solid #eee

.Footer-text
  font-size: rem(13)
  color: #aaa
