/**
 * Highlight
 */

.highlight
  font-size 14px
  border-radius 5px
  padding 10px
  margin 20px 0
  overflow auto
  display block

  > table
    width 100%

.lineno
  color #aaa

pre
  display block
  white-space pre
  word-wrap normal
  overflow auto
  width auto
  margin 0