/** @define Nav; use strict */

@css {
  @import "suitcss-utils-display";
  @import "suit-utils-list";
  @import "./utils/link";
}

@require "./functions"

.Nav
  text-align center
  text-transform lowercase

.Nav-list
  margin 0

.Nav-item
  display inline-block
  margin-right rem(10)

  &:last-child
    margin-right 0

.Nav-link
  text-decoration none

@media (--md-viewport)
  .Nav
    text-align right