/** @define Profile; use strict */

@css {
  @import "./avatar";
}

Profile-background-color = #fff

@require "./functions"
@require "./theme"

.Profile
  text-align center

.Profile > p
  margin 0

.Profile-wrapAvatar
  text-align center

.Profile-text
  font-size rem(14)

.Profile-link
  text-decoration none

@media (min-width 30.625em)
  .Profile-wrapAvatar
    display inline-block
    margin-right rem(10)

  .Profile-body
    text-align left
    display inline-block

@media (--md-viewport)
  .Profile
    padding rem(10)

  .Profile-wrapAvatar
    margin-right 0